body {
    margin:0;
    font-family: sans-serif;
    background-color: lightgrey;
}
.content{
    margin: 10px;
    background-color: silver;
    text-align: center;
    height: 140px;
}

.btn{
    padding: 15px;
    font-size: large;
    border: none;
    width: 20%;
    border-radius: 8px;
}
.btn:hover{
    background-color: white;
    border-color: red;
    outline: 50px auto red;
}
.btn-1{
    background-color: skyblue;
}
.btn-2{
    background-color: white;
    border-color: red;
    outline: 50px auto red;
}
.btn-3{
    background-color: lightsalmon;
}
