body {
    margin:0;
    font-family: sans-serif;
    background-color: lightgrey;
}
.content{
    margin: 10px;
    background-color: silver;
    text-align: center;
    height: 140px;
}

.btn{
    padding: 10px;
    font-size: large;
}
.btn:hover{
    background-color: white;
    border-color: red;
    outline: 50px auto red;
}
.btn-1{
    background-color: white;
    order-color: red;
    outline: 50px auto red;
}
.btn-2{
    background-color: palegreen;
}
.btn-3{
    background-color: lightsalmon;
}
.btn-secondary{
    background-color: tomato;
}