{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/finishedproduct.css') }}">
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<title>Gotovi proizvodi</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 id="Naslov">Gotovi proizvodi</h1>
    <br>
    <button class="btn btn-1" , onclick="window.location.href='/order'">Narudžba</button>
    <button class="btn btn-2" , onclick="window.location.href='/manufacturing'">Proizvodnja</button>
    <button class="btn btn-3" , onclick="window.location.href='/finishedproduct'">Gotovi proizvodi</button>
</div>

<p>Proizvodi na skladištu:</p>
<table>
    <tr>
        <th>ID Proizvoda</th>
    </tr>
    <tr>
        <td>a</td>
    </tr>
</table>

<p>Isporučeni proizvodi:</p>
<table>
    <tr>
        <th>ID Proizvoda</th>
    </tr>
    <tr>
        <td>a</td>
    </tr>
</table>
{% endblock %}