{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/finishedproduct.css') }}">
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<title>Gotovi proizvodi</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 id="Naslov">Gotovi proizvodi</h1>
    <br>
    <button class="btn btn-1" , onclick="window.location.href='/order'">Narudžba</button>
    <button class="btn btn-2" , onclick="window.location.href='/warehouse'">Skladište</button>
    <button class="btn btn-3" , onclick="window.location.href='/manufacturing'">Proizvodnja</button>
    <button class="btn btn-4" , onclick="window.location.href='/installation'">Montaža</button>
    <button class="btn btn-5" , onclick="window.location.href='/finishedproduct'">Gotovi proizvodi</button>
    <button class="btn btn-6" , onclick="window.location.href='/statistic'">Statistika</button>
</div>

<p>Gotovi proizvodi:</p>
<table>
    <tr>
        <th>ID narudžbe</th>
        <th>Status</th>
        <th>Kupac</th>
        <th>Kontakt</th>
        <th>Datum narudžbe</th>
        <th>Datum zavrsetka proizvodnje</th>
        <th>Cijena</th>
    </tr>
    <tr>
        <th>
            {% for finproduct in product %}
            <h4>
                {{finproduct.order_id}}
            </h4>
            {% endfor %}
        </th>
        <th>
            {% for finproduct in product %}
            <h4>
                {{finproduct.order_status}}
            </h4>
            {% endfor %}
        </th>
        <th>
            {% for finproduct in product %}
            <h4>
                {{finproduct.buyer_name}}
            </h4>
            {% endfor %}
        </th>
        <th>
            {% for finproduct in product %}
            <h4>
                {{finproduct.buyer_contact}}
            </h4>
            {% endfor %}
        </th>
        <th>
            {% for finproduct in product %}
            <h4>
                {{finproduct.date_created}}
            </h4>
            {% endfor %}
        </th>
        <th>
            {% for finproduct in product %}
            <h4>
                {{finproduct.date_finished}}
            </h4>
            {% endfor %}
        </th>
        <th>
            {% for finproduct in product %}
            <h4>
                {{finproduct.price}}
            </h4>
            {% endfor %}
        </th>
    </tr>
</table>

{% endblock %}