{% extends 'base.html' %}

{% block head %}
<title>Gotovi proizvodi</title>
{% endblock %}

{% block body %}
<h1 style="text-align:center; background-color:LightSalmon;">Gotovi proizvodi</h1>
<!-- <br>
<button onclick="window.location.href='/order'">Narudžba</button>
<button onclick="window.location.href='/proizvodnja'">Proizvodnja</button>
<button onclick="window.location.href='/gotoviproizvodi'">Gotovi proizvodi</button>
<br> -->
<p>Proizvodi na skladištu:</p>

<p>Isporučeni proizvodi:</p>
{% endblock %}