{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/installation.css') }}">
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<title>Montaža</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 id="Naslov">Montaža</h1>
    <br>
    <button class="btn btn-1" , onclick="window.location.href='/order'">Narudžba</button>
    <button class="btn btn-2" , onclick="window.location.href='/warehouse'">Skladište</button>
    <button class="btn btn-3" , onclick="window.location.href='/manufacturing'">Proizvodnja</button>
    <button class="btn btn-4" , onclick="window.location.href='/installation'">Montaža</button>
    <button class="btn btn-5" , onclick="window.location.href='/finishedproduct'">Gotovi proizvodi</button>
    <button class="btn btn-6" , onclick="window.location.href='/statistic'">Statistika</button>
</div>

<button class="btn" , onclick="window.location.href='/new_installation_form'">Obrazac za unos podataka o pocetku nove
    montaže</button>
<button class="btn" , onclick="window.location.href='/existing_installation_form'">Obrazac za unos podataka o
    nastavljanju procesa montaže</button>
<button class="btn" , onclick="window.location.href='/finished_installation_form'">Obrazac za unos podataka o zavrsetku
    procesa montaže</button>
<button class="btn" , onclick="window.location.href='/update_installation_form'">Obrazac za brisanje ili ispravak krivog
    unosa</button>

<p>Proizvodi u montaži:</p>
<table>
    <tr>
        <th>ID narudžbe</th>
        <th>ID sklopa</th>
        <th>ID osnovnog elementa</th>
        <th>Status</th>
        <th>Vrijeme montaže</th>
        <th>Montažer</th>
    </tr>
    <tr>
        <th>
            {% for manufacturing in product %}
            <h4>
                {{manufacturing.order_id}}
            </h4>
            {% endfor %}
        </th>
        <th>
            {% for manufacturing in product %}
            <h4>
                {{manufacturing.installation_id}}
            </h4>
            {% endfor %}
        </th>
        <th>
            {% for manufacturing in product %}
            <h4>
                {{manufacturing.part_id}}
            </h4>
            {% endfor %}
        </th>
        <th>
            {% for manufacturing in product %}
            <h4>
                {{manufacturing.installation_status}}
            </h4>
            {% endfor %}
        </th>
        <th>
            {% for manufacturing in product %}
            <h4>
                {{manufacturing.installation_time}}
            </h4>
            {% endfor %}
        </th>
        <th>
            {% for manufacturing in product %}
            <h4>
                {{manufacturing.installation_worker}}
            </h4>
            {% endfor %}
        </th>
    </tr>
</table>
{% endblock %}