{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/installation.css') }}">
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<title>Montaža</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 id="Naslov">Montaža</h1>
    <br>
    <button class="btn btn-1" , onclick="window.location.href='/order'">Narudžba</button>
    <button class="btn btn-2" , onclick="window.location.href='/warehouse'">Skladište</button>
    <button class="btn btn-3" , onclick="window.location.href='/manufacturing'">Proizvodnja</button>
    <button class="btn btn-4" , onclick="window.location.href='/installation'">Montaža</button>
    <button class="btn btn-5" , onclick="window.location.href='/finishedproduct'">Gotovi proizvodi</button>
    <button class="btn btn-6" , onclick="window.location.href='/statistic'">Statistika</button>
</div>


<p>Proizvodi u montaži:</p>
<table>
    <tr>
        <th>Redni broj</th>
        <th>ID narudžbe</th>
        <th>ID sklopa</th>
        <th>ID osnovnog elementa</th>
        <th>Status</th>
        <th>Vrijeme montaže</th>
        <th>Montažer</th>
    </tr>
    <tr>

    </tr>
</table>
{% endblock %}