{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/manufacturing.css') }}">
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<title>Proizvodnja</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 id="Naslov">Proizvodnja</h1>
    <br>
    <button class="btn btn-1" , onclick="window.location.href='/order'">Narudžba</button>
    <button class="btn btn-2" , onclick="window.location.href='/warehouse'">Skladište</button>
    <button class="btn btn-3" , onclick="window.location.href='/manufacturing'">Proizvodnja</button>
    <button class="btn btn-4" , onclick="window.location.href='/installation'">Montaža</button>
    <button class="btn btn-5" , onclick="window.location.href='/finishedproduct'">Gotovi proizvodi</button>
    <button class="btn btn-6" , onclick="window.location.href='/statistic'">Statistika</button>
</div>

<button class="btn" , onclick="window.location.href='/new_manufacturing_form'">Obrazac za unos podataka o
    pocetku obrade novog elementa</button>
<button class="btn" , onclick="window.location.href='/existing_manufacturing_form'">Obrazac za unos podataka o
    obradi postojeceg elementa</button>
<button class="btn" , onclick="window.location.href='/finishing_manufacturing_form'">Obrazac za unos podataka o
    zavrsetku obrade elementa</button>


<p>Proizvodi u proizvodnji:</p>
<table>
    <tr>
        <th>ID narudžbe</th>
        <th>ID osnovnog elementa</th>
        <th>ID stroja</th>
        <th>Status</th>
        <th>Vrijeme obrade</th>
        <th>Operater</th>
    </tr>
    <tr>
        <th>
            {% for manufacturing in product %}
            <h4>
                {{manufacturing.order_id}}
            </h4>
            {% endfor %}
        </th>
        <th>
            {% for manufacturing in product %}
            <h4>
                {{manufacturing.part_id}}
            </h4>
            {% endfor %}
        </th>
        <th>
            {% for manufacturing in product %}
            <h4>
                {{manufacturing.machine_id}}
            </h4>
            {% endfor %}
        </th>
        <th>
            {% for manufacturing in product %}
            <h4>
                {{manufacturing.manufacturing_status}}
            </h4>
            {% endfor %}
        </th>
        <th>
            {% for manufacturing in product %}
            <h4>
                {{manufacturing.manufacturing_time}}
            </h4>
            {% endfor %}
        </th>
        <th>
            {% for manufacturing in product %}
            <h4>
                {{manufacturing.manufacturing_worker}}
            </h4>
            {% endfor %}
        </th>
    </tr>
</table>

{% endblock %}