{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/order.css') }}">
<title>Order</title>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
{% endblock %}

{% block body %}
<div class="content">
    <h1 id="Naslov">Narudžba</h1>
    <br>
    <button class="btn btn-1" , onclick="window.location.href='/order'">Narudžba</button>
    <button class="btn btn-2" , onclick="window.location.href='/warehouse'">Skladište</button>
    <button class="btn btn-3" , onclick="window.location.href='/manufacturing'">Proizvodnja</button>
    <button class="btn btn-4" , onclick="window.location.href='/installation'">Montaža</button>
    <button class="btn btn-5" , onclick="window.location.href='/finishedproduct'">Gotovi proizvodi</button>
    <button class="btn btn-6" , onclick="window.location.href='/statistic'">Statistika</button>
</div>

<div class="container">
    <form action="order" METHOD="POST">
        <label for="order">Izaberite proizvod koji želite naručiti:</label>
        <input list="products" name="product" id="product"><br><br>
        <datalist id="products">
            <option value="Osnovni element 1"></option>
            <option value="Osnovni element 2"></option>
            <option value="Sklop 1"></option>
            <option value="Sklop 2"></option>
        </datalist>
        <label for="buyer">Ime i prezime naručitelja:</label>
        <input type="text" id="buyer_name" name="buyer_name"><br><br>
        <label for="phone">Unesite kontakt broj:</label>
        <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        <small>Izgled: 123-456-7890</small><br><br>
        <input type="submit" value="Naruči" class="btn-secondary"><br><br>

    </form>
    <table>
        <tr>
            <th>Auto ID</th>
            <th>ID narudžbe</th>
            <th>Naručeni proizvod</th>
            <th>Kupac</th>
            <th>Kontakt</th>
            <th>Datum narudžbe</th>
        </tr>
        <tr>
            <th>
                {% for order in product %}
                <h4>
                    {{order.id}}
                </h4>
                {% endfor %}
            </th>
            <th>
                {% for order in product %}
                <h4>
                    {{order.order_id}}
                </h4>
                {% endfor %}
            </th>
            <th>
                {% for order in product %}
                <h4>
                    {{order.name}}
                </h4>
                {% endfor %}
            </th>
            <th>
                {% for order in product %}
                <h4>
                    {{order.buyer_name}}
                </h4>
                {% endfor %}
            </th>
            <th>
                {% for order in product %}
                <h4>
                    {{order.buyer_contact}}
                </h4>
                {% endfor %}
            </th>
            <th>
                {% for order in product %}
                <h4>
                    {{order.date_created}}
                </h4>
                {% endfor %}
            </th>
        </tr>
    </table>
</div>
{% endblock %}