{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/warehouse.css') }}">
<title>Skladište</title>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .podatak {
        text-align: center;
    }
</style>
{% endblock %}

{% block body %}
<div class="content">
    <h1 id="Naslov">Skladište</h1>
    <br>
    <button class="btn btn-1" , onclick="window.location.href='/order'">Narudžba</button>
    <button class="btn btn-2" , onclick="window.location.href='/warehouse'">Skladište</button>
    <button class="btn btn-3" , onclick="window.location.href='/manufacturing'">Proizvodnja</button>
    <button class="btn btn-4" , onclick="window.location.href='/installation'">Montaža</button>
    <button class="btn btn-5" , onclick="window.location.href='/finishedproduct'">Gotovi proizvodi</button>
    <button class="btn btn-6" , onclick="window.location.href='/statistic'">Statistika</button>
</div>


<form action="first_btn" METHOD="POST" id="form1">
    <label for="warehouse">Izaberite stavku i količinu (u mm) koja je pristigla u skladište:</label>
    <input list="sirovci" name="sirovac" id="sirovac">
    <datalist id="sirovci">
        <option value="Sirovac 1"></option>
        <option value="Sirovac 2"></option>
        <option value="Sirovac 3"></option>
        <option value="Sirovac 4"></option>
    </datalist>
    <input type="number" name="kolicina" id="kolicina">
    <input type="submit" value="Dodaj" class="btn-secondary" id="botun_1">
</form>
<p>Sirovci dostupni na skladištu:</p>
<table>
    <tr>
        <th>Sirovac</th>
        <th>Količina (mm)</th>
    </tr>
    <tr>
        <td>
            {% for warehouse in sirovac %}
            <h4>
                {{warehouse.name}}
            </h4>
            {% endfor %}
        </td>
        <td>
            {% for warehouse in sirovac %}
            <h4 class="podatak">
                {{warehouse.quantity}}
            </h4>
            {% endfor %}
        </td>
    </tr>
</table>
<br><br>
<form action="second_btn" METHOD="POST">
    <label for="warehouse">Izaberite stavku i količinu (u kom) koja je pristigla u skladište:</label>
    <input list="new_part" name="new_part" id="new_part">
    <datalist id="new_part">
        <option value="Osnovni element 1"></option>
        <option value="Osnovni element 2"></option>
        <option value="Osnovni element 3"></option>
        <option value="Osnovni element 4"></option>
    </datalist>
    <input type="number" name="kolicina_1" id="kolicina_1">
    <input type="submit" value="Dodaj" class="btn-secondary">
</form>
<p>Osnovni elementi dostupni na skladištu:</p>
<table>
    <tr>
        <th>Osnovni element</th>
        <th>Količina (kom)</th>
    </tr>
    <tr>
        <td>
            {% for warehouse in availability %}
            <h4>
                {{warehouse.part_name}}
            </h4>
            {% endfor %}
        </td>
        <td>
            {% for warehouse in availability %}
            <h4 class="podatak">
                {{warehouse.part_quantity}}
            </h4>
            {% endfor %}
        </td>
    </tr>
</table>
{% endblock %}